.deleteButton {
  background-color: crimson;
  border: none;
  color: white;
  padding: 15px 15px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
}

.checkbox {
  margin: 5px;
}
