.addButton {
  background-color: mediumseagreen;
  border: none;
  color: white;
  padding: 15px 15px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
}

.input {
  background-color: rgb(230, 230, 230);
  text-align: center;
  display: inline-block;
  border: none;
  margin: 5px;
  padding: 15px 15px;
  font-size: 18px;
  border-radius: 4px;
}

.formStyle {
  border: 20px;
}
